*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.up{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: large;
}
li{
    list-style: none;
    padding: 10px;
}
#one{
    height: 40px;
    width: 110px;}
#two{
    height: 40px;
    width: 180px;
}
.head{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav ul :hover{
    color:#c9184a;
    text-decoration:underline #c9184a;
    background-color: #f8e9ed;
}
button{
    font-family: 'Courier New', Courier, monospace;
}
#haha{
    color: white;
    background-color: limegreen;
    border: none;
    border-radius: 7%;
    padding: 7px; 
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: inset 8px 0px 8px green;
}
#haha:hover{
    background-color: rgb(50, 185, 50);
}
li{
    border: none;
}
select{
    font-size: large;
    border: none;
}
.viatv{
    margin: 30px;
    margin-left: 45%;
}
.mti{
    margin-left: 45%;
    font-size: large;
}
.viatvv{
    margin-top: 10px;
    margin-left: 38%;
    font-size: large;
}
.mid2{
    background-color:#9e1010;
    margin-top: 10px;
}
#mimi{
    height: 400px;
    width: 100%;
}
#nini{
    padding: 30px;
    padding-bottom: 0px;
    margin-left: 5%;
}
#kiki{
    padding: 10px;
    margin-left: 27%;
}
#ecl{
    margin: 20px;
    margin-left: 50px;
    height: 100px;
    width: 200px;
}
#ytb{
    margin-left: 50px;
    height: 100px;
    width: 200px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 200px;
    background-color: rgb(37, 37, 37);
    padding: 30px;
}
.ns{
    display: flex;
}
#no:hover{
    color: red;
}
#no1:hover{
    color: red;
}
#no2:hover{
    color: red;
}
#no3:hover{
    color: red;
}
#no4:hover{
    color: red;
}
#no5:hover{
    color: red;
}
#no5:hover{
    color: red
}
.f1{
    margin-left: -200px;
}
.contact{
    text-align: center;
    font-size: x-large;
}
#p24{
    height: 100px;
    width: 100px;
}
.cd{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    padding: 30px;
}
.vcl{
    font-size: large;
    text-decoration: underline;
    text-align: center;
    margin-top: 30px;
}
.tabfoot{
    margin-left: 50px;
}
.add{
    display: flex;
    margin-top: 30px;
    margin-left: 50px;
}
.mail{
    display: flex;
    margin-top: 10px;
    margin-left: 50px;
}
.gpo{
    display: flex;
    margin-top: 10px;
    margin-left: 50px;
}
.f2{
    margin-left: 20px;
    margin-top: 150px;
}
.padd{
    padding: 30px;
}
#comp{
    font-size: xx-large;
    margin-top: -240px;
}
.f3{
    margin-left: 300px;
    margin-top: -300px;
}
.apps{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 60px;
    width: 60px;
    margin-left: 30px;
}
.f31{
    margin-top: 150px;
    font-size: large;
    font-weight: bold;
    margin-left: 20px;
}
.ap2{
    display: flex;
    gap: 10px;
}
.down{
    margin-bottom: 10px;
}
.f32{
    margin-top: 30px;
    font-size: large;
    font-weight: bold;
    margin-left: -100px;
}
.f33{
    margin-top: 30px;
    font-size: large;
    font-weight: bold;
    margin-left: -100px;
}
.oft{
    color: #fc0f0f;
    font-weight: bolder;
    font-size: xx-large;
    margin-left: 42%;
    margin-top: 3%;
    text-decoration: underline red;
}
.box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px 30px;
}
.box div:hover{
    transform: scale(1.1);
}
.box1{
    height: 50px;
    margin: 100px;
}
.box2{
    height: 50px;
    margin: 100px;
}
.box3{
    height: 50px;
    margin: 100px;
}
.box4{
    height: 50px;
    margin: 100px;
}
.box4{
    height: 50px;
    margin: 100px;
}
.box5{
    height: 50px;
    margin: 100px;
}
.box6{
    height: 50px;
    margin: 100px;
}
figcaption{
    text-align: center;
    font-size: small;
}
.end{
    color: white;
    display: flex;
    gap: 20px;
    background-color: black;
    padding-top: 10px;
}
#end1{
    margin-left: 45px;
}
#end1:hover{
    color: red;
}
#end2{
    margin-left: 520px;
}
#end2:hover{
    color: red;
}
#end3:hover{
    color: red;
}
#end4:hover{
    color: red;
}
